<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{rpgname}}</title>
</head>

<body>
    <h1>{{rpgname}} RPG</h1>
    <p><a href="/login">Entrar</a></p>
    <p><a href="/register">Registrar</a></p>
</body>

</html>