<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="failureToast" class="toast hide acds-element" role="alert">
        <div class="toast-header">
            <span><i class="bi bi-x-circle" style="color: red;"></i></span>
            <strong class="me-auto">Erro</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body" style="color: rgb(255, 110, 110);">
        </div>
    </div>
</div>